// The "Default" layout has all its contents stored in ./default/
// Note: The order of these imports is deliberate

@import 'default/normalize';
@import 'default/main';

body {
  background: #7ff7ef;
}

.bottle {
  bottom: 0;
  left: 50%;
  margin: 100px;
  position: absolute;
}
